.add-food-form {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    &div {
        opacity: 0.9;
    }
    z-index: 1;
    .close, input, button, .field {
        width: 40vw;
    }
    .fa-close {
        float: right;
    }
    .fa-close:hover {
        cursor: pointer;
    }
}

